/* this is supposed to contain CSS that is used across multiple 
   stylesheets, including Alternate ones
*/

dt
{
  font-weight: bold;
}

ul, ol, dl
{
  margin-left: 4%;
  margin-right: 4%;
  margin-top: .5em;
  margin-bottom: .5em;
}

dd
{
  margin-bottom: .5em;
}

pre
{
  margin-left: 10%;
  white-space: pre;
}

code, kbd
{
  white-space: nowrap;
}

table caption
{
  font-size: larger;
  font-weight: bold;
}


blockquote pre
{
  margin-left: 2%;
  margin-right: 2%;
}

.example
{
  margin-left: 10%;
  white-space: pre;
}

dfn
{
  font-style: normal;
  font-weight: bold;
}

var sub
{
  font-style: normal;
}

.required
{
  font-weight: bold;
}

.footer
{
  margin-top: 2em;
  padding-top: 1em;
}

.quote-attribution
{
  padding-left: 2em;
  display: block;
}

.note
{
  font-size: 70%;
}

img.tag {
  width: 88px;
  height: 31px;
}
